@model IEnumerable<MovieManager.Models.Movie>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Director.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idmovie">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idmovie">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idmovie">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
